* {
    font-family: monospace;
    font-size: 20px;
    background-color: whitesmoke;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#323232;;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 30px 10%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 30px;
}

.nav_links li:last-child {
    padding-left:22em;
}


.nav_links li a{
    text-decoration: none;
    color: #232323;
}

.logo {
    cursor: pointer;
    width: 300px;
}
