body {
    color: darkslategray;
    background: sandybrown;
    line-height: 22px;
    text-align: center;
    padding: 15px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    padding: 100px 0px 50px 0px;
    background: plum;
}

h2{
    display: none;
}

.main {
    width: 50%;
    margin: 50px auto;
}

p{
    line-height: 22px;
    margin-top: 44px;

}

a{
    color: sandybrown;
    background: midnightblue;
    text-decoration: none;
    padding: 2px 6px 3px 6px;
    border-radius: 3px;
    font-weight: bold;
    display: inline-block; /* block ostava v riadku  a da sa menit height width margin ... */
    width: 200px;
    height: 60px;
    margin-bottom: 20px;
}

a:hover {
    background: greenyellow;
    color: black;
}

body{
    margin: 0px;
} /* CSS RESET */

.special {
    border-radius: 20px;
    background: plum;
    color: black;
    width: 300px;
    height: 70px;
    margin: 50px auto;
    padding: 20px;
    border: 20px solid greenyellow;
    overflow: auto;
}

.highlight{
    color: lemonchiffon;
}
strong{
    display: block;
}
.text-left{
    text-align: left;
}
small{
    font-weight: bold;
    color: blanchedalmond;
    display: block;
}