body{
    width: 1000px;
    margin: 0 auto;
    color: black;
    font-size: 18px;
    padding: 0px 20px;
    
}
.start{
    margin-bottom: 50px;
}

h1,h2,h3 {
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    color: blue;
    text-decoration: none;
}

p{
    margin: 0 0 24px 0;
}













.logo {
    margin: 0px;
    margin-top: -15px;
    position: relative;
    z-index: 2;
}
a:hover,a:focus{
    text-decoration: underline;
}

.logo a {
    background: url(img/logol.png) left top no-repeat;
    display: block;
    width: 500px;
    height: 105px;
}
.cover{
    background: white url(img/background.jpg) 50% 50px no-repeat;
    width: 300px;
    height: 300px;
    margin-top: -150px;
    position: relative;
    z-index: 1;
}

.badge{
    background: red;
    background: rgba(186,56,37, 0.75);
    display: block;
    width: 170px;
    height: 170px;
    border-radius: 50%;

    color: black;
    font-size: 70px;
    line-height: 50px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    letter-spacing: -2px;
    margin-top: 150px;
    text-decoration: none;

    position: absolute;
    bottom: -15px;
    right: -120px;

}

.badge:hover,.badge:focus {
    text-decoration: none;
}

.badge small{
    font-size: 40px;
    line-height: 40px;
    font-style: italic;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    letter-spacing: 0px;
    padding-top: 30px;
}


.post-header {
    text-align: center;
}

.post-meta{
    font-style: italic;
}


/* STYLE V HTML ESTE SILNEJSI */

#hovno {
    background: plum;
}

/* ID silnejsie jak classa */

.post-meta{
    background: orange;
}

/* CLASS silnejsia jak p */

p {
    background: white;
}












.post-meta time::before{
    content: " ---- ";
    font-style: normal;
}

.author{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0px 3px;
}

.post-title{
    font-size: 50px;
    line-height: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: -2px;
    margin: 0;
}


[id] {
    background: honeydew;
    /* overflow hiiden,auto    clear both*/
}










.post-content p,
.post-content h2,
.post-content h3 {
    margin-left: 150px;
    margin-right: 150px;
}

.post-content p:first-child {  /* MOZE BYT FIRST OF TYPE */
    font-size: 30px;
    line-height: 38px;
    margin-left: 0;
    margin-right: 0;

}

.post-content h2 {
    font-size: 28px;
    line-height: 30px;
    color: brown;
    margin-top: 40px;
    margin-bottom: 20px;
}

.post-content h2 {
    font-size: 18px;
    line-height: 20px;
    color: brown;
    margin-top: 38px;
    margin-bottom: 12px;
    text-transform: uppercase;
}


.float-left {
    float: left; /* VYTRHNUTIE Z DOKUMENTU */
}

.float-right {
    float: right;
}

.pullquote {
    color: goldenrod;
    max-width: 300px;
}

.pullquote.float-left {
    margin: 24px 50px 24px 0px;
}

.pullquote.float-left {
    margin: 24px 0px 24px 50px;
}

.pullquote q{
    font-size: 24px;
    line-height: 30px;
    font-style: italic;
}

.pullquote ol,
.pullquote ul {
    list-style: none;
    padding-left: 0;
    margin-right: 50px;
}

.pullquote li {
    border-bottom: 1px dotted green;
    padding: 2px 5px;
}

.pullquote li:last-child{
    border: none;
}

.post-footer{
    width: 700px;
    margin: 60px auto;
}

.post-footer h3{        /* VSETKY H3 V POST-FOOTER*/
    font-size: 15px;
}

.post-footer > h3 {   /* PRIAMY POTOMOK */
    text-align: center;
}

.photo {
    float: left;
}

.photo img {
    border-radius: 50%;
    border: 10px  solid grey;
}

.byline h3,
.bio p {
    font-size: 15px;
    line-height: 24px;
    margin-left: 140px;
}

.byline h3 a {
    color: gainsboro;
}

.pre-footer {
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.reviews {
    list-style: none;
    padding-left: 0px;
    overflow: hidden;
}

.reviews li {
    font-size: 15px;
    line-height: 24px;

    float: left;
    width: 220px;

    margin-left: 15px;
    margin-right: 15px;

    position: relative;
}

.reviews li::before{    /* VLOZENE PRED TEXT ,AFTER VLOZENE ZA TEXT */
    content: '"';       
    color: aquamarine;
    font-size: 60px;
    font-style: italic;
    position: absolute;
    top: 20px;
    left: 0;
}

.reviews blockquote {
    font-style: italic;
}

.review-byline {
    font-weight: bold;
    padding-left: 30px;
    margin-bottom: 8px;
}

.review-byline::before{
    content: ' -- ';
    color: aquamarine;
}

.global-footer {
    color: grey;
    font-size: 18px;
    text-align: right;
    padding: 15px 10px 25px 10px;
}

::selection {
    background: gray;
    color: black;
    text-shadow: none;
}

::-moz-selection {
    background: gray;
    color: black;
    text-shadow: none;
}








[id] {   /* VSETKY IDCKA */
    background: honeydew;
    /* overflow hiiden,auto    clear both*/
}




.group::before,
.group::after {
    content: " ";
    display: table;
}

/* DOLEZITE NA LAYOUT  ,,  CONTAINOVANIE FLOATOV*/

.group::after {
    clear: both;
}

.group {
    *zoom: 1;
}

code {
    color: bisque;
    background: plum;
    display: block;
    padding: 25px;
    font-size: 24px;
    font-family: monospace;
    border-radius: 6px;
    text-align: center;
}

#wrapper {
    width: 700px;
    margin: 0 auto;
}

#wrapper header,
#wrapper section,
#wrapper aside,
#wrapper footer {
    margin: 0 0 25px 0;
}

#wrapper section {
    float: left;
    width: 425px;
}
#wrapper aside {
    float: right;
    width: 250px;
}
