
/* GENERAL */

body {
    color: #323232;
    background: #eeefed;
    font-family: monospace;
}

.container::before,
.group::before,
.menu::before,
.container::after,
.group::after,
.menu::after {
    content: " ";
    display: table;
}

.container::after,
.group::after,
.menu::after {
    clear: both;
}

.container,
.group,
.menu {
    *zoom: 1;
}

a {
    text-decoration: none;
}

strong {
    font-weight: 600;
}

.menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.menu li {
    float: left;
}

.fa {
    vertical-align: middle;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

 /* CONTACT */ 

.contact-bar,
.personal a {
    color: whitesmoke;
}



 .contact-bar {
    background: #39a3d4;
    height: 84px;
    font-size: 14px;
 }

 .personal {
    float: left;
    margin-top: 29px;
 }

 .social {
    float: right;
    margin-top: 18px;
 }

 .personal li {
    margin-right: 70px;
 }

 .personal .fa {
    font-size: 28px;
    margin-right: 5px;
 }

 .social .fa {
    font-size: 17px;
 }

 .social-icon {
    display: block;
    height: 48px;
    width: 48px;
    line-height: 48px;

    color: #989898;
    background: #eeefed;
    text-align: center;

    border-radius: 2px;
    margin-left: 2px;
    
 }

 .social-icon:hover,
 .social-icon:focus {
    color: whitesmoke;
    background: #5bd;
 }



 /* NAVIGATION */

 .nav-bar {
    background: #f2f2f2;
 }

 .logo {
    float:left ;
 }

 .logo a {
    display: block;
    background: url(img/logo.png) 0 0 no-repeat;
    width: 186px;
    height: 31px;
    text-indent: -9999px;
    margin-top: 13px;
 }

 .navigation {
    float: right;
 }

 .navigation .fa {
    display: block;
    padding-top: 25px;
    padding-bottom: 10px;
}

.navigation li {
    border-left: 1px solid #cecece;
}

.navigation li:last-child {
    border-right: 1px solid #cecece;
}

 .navigation a {
    color: #a6a6aa;
    display: block;
    width: 136px;
    height: 90px;
    text-align: center;
    text-transform: uppercase;
 }

 .selected a,
 .navigation a:hover,
 .navigation a:focus {
    color: #de5728;
 }

 /* ARTICLE */

 .text-center {
   text-align: center;
 }

 .post-header {
   display: block;
   height: 200px;
   background: url(img/background.jpg) center -822px no-repeat;
 }

 .post-title {
   color: #39a3d4;
   font-size: 45px;
   font-weight: 600;
   background: black;
   padding: 18px 46px;
   border-radius: 7px;
   display: inline-block;
   text-transform: uppercase;
   margin-top: 60px;
 }

 .post-content {
   padding-bottom: 150px;
 }

 .post-content h2 {
   color: #323232;
   font-weight: 400;
   font-size: 30px;
   line-height: 42px;
 }

 .controls {
   width: 700px;
   margin: 50px auto;
   text-align: center;
 }

 .controls a {
   font-size: 22px;
   font-weight: 300;
   color: #39a3d4;
   text-transform: uppercase;
   padding: 0 25px;
   line-height: 48px;
   display: block;
 }

 .controls a:hover,
 .controls a:focus,
 .controls .selected a {
   color: white;
   background: #39a3d4;
   border-radius: 10px;
 }

 .gallery {
   font-size: 0; /* MEDZERY MEDYI OBRAZKAMI */
 }


 /* FOOTER + PRE-FOOTER */

 .pre-footer {
   color: #fff;
   background: #323232;
   text-align: center;
 }

 .pre-footer .container {
   width: 400px;
   padding: 40px 0 60px 0;
 }

 .pre-footer p {
   font-size: 16px;
   line-height: 35px;
   text-transform: uppercase;
 }

.pre-footer strong {
   font-size: 22px;
   font-weight: 600;
   text-transform: none;
}

.pre-footer .personal li {
   margin-right: 0;
}

.pre-footer .personal li:first-child{
   margin-right: 100px;
} 

footer {
   font-size: 14px;
}

footer .container {
   background: url(img/logo.png) left center no-repeat;
}

footer p {
   color: #a6a6aa;
   float: left;
   padding-left: 200px;
}

footer p,
footer .menu {
   margin: 30px 0; 
}

footer .menu {
   color: #989898;
   font-size: 14px;
   font-weight: 600;
   text-transform: uppercase;
   float: right;
}

footer p a {
   color: darkblue;
   font-weight: 600;
}

footer .menu a {
   color: #989898;
}

footer .menu a:hover,
footer .menu a:focus {
   text-decoration: underline;
}

footer li::after {
   content: "/";
   color: #989898;
   margin: 0 8px;
}

footer li:last-child::after{
   content: "";
}
